<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.live_tik_tac_toe_project">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Live_Tik_Tac_Toe_Project">
        <activity
            android:name=".OnlineWinDialog"
            android:exported="false" />
        <activity
            android:name=".OnlineRunActivity"
            android:supportsPictureInPicture="true"
            android:configChanges=
                "screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="false" />
        <activity
            android:name=".WinDialog"
            android:exported="false" />
        <activity
            android:name=".PlayerName"
            android:exported="true" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".AddOfflinePlayers"
            android:exported="true" />
        <activity
            android:name=".LeaderBoardActivity"
            android:exported="true" />
        <activity
            android:name=".OnlineGameActivity"
            android:exported="true" />
        <activity
            android:name=".OfflineGameActivity"
            android:exported="true" />
        <activity android:name=".MessageToSpecific" android:exported="false"/>
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnlineActivity"
            android:exported="true" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>